{% extends 'Base.html' %}

{% block content %}
<div class="main">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col ml-auto">
            <div class="main-body pt-1">
                <div class="container mt-3">

                    <input class="form-control" type="text" placeholder="Manage Vehicle"
                        aria-label="Disabled input example" disabled>
                    <tr>
                        <td>show<input type="number" class="form-control-xs">Entries
                            <form class="d-flex" role="search" method="get" action="{% url 'ManageSearch' %}">Search:
                                <input class="form-control-sm" type="search" aria-label="Search" name="query">
                            </form>
                        </td>
                    </tr>
                    <table>
                        <table id="example" class="table table-bordered" style="width:100%">
                            <thead class="table-light">
                                <tr>
                                    <th>S No.</th>
                                    <th>Vehicle Number</th>
                                    <th>Type</th>
                                    <th>Area No.</th>
                                    <th>Charge</th>
                                    <th>Arrival Time</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% if display %}
                                    {% for x in display %}
                                <tr>
                                    <td>{{x.id}}</td>
                                    <td>{{x.vehicle_no}}</td>
                                    <td>{{x.vehicle_type}}</td>
                                    <td>{{x.parking_area_no}}</td>
                                    <td>{{x.parking_charge}}</td>
                                    <td>{{x.arrival_time}}</td>
                                    {% if x.status %}
                                    <td><a href="{% url 'Parked' x.id %}" class="btn btn-danger">Left</a></td>
                                    <td><a href="{% url 'Left' x.id %}" class="btn btn-success">Parked</a>
                                        <a href="{% url 'Left' x.id %}" class="btn btn-white">Done</a>
                                    </td>
                                    {% else %}
                                    <td><a href="{% url 'Left' x.id %}" class="btn btn-success">Parked</a></td>
                                    <td><a href="{% url 'Parked' x.id %}" class="btn btn-danger">Left</a>
                                        <a href="{% url 'Left' x.id %}" class="btn btn-white">Done</a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% else %}
                                <p>...No Vehicles...</p>
                                {% endif %}
                                </tr>
                                </tr>
                            </tbody>
                        </table>
                        {% if display.has_other_pages %}
                        <ul class="pagination">
                            <!--- Here we are creating previous button navigation starts here--->
                            {% if display.has_previous %}

                            <li class="page-item">
                                <a href="?page={{ display.previous_page_number }}" class="page-link">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a href="?page=1" class="page-link">Previous</a>
                            </li>
                            {% endif %}
                            <!--- Here we are creating previous button navigation end here--->

                            <!--- Here we are creating the page number to display the page navigation start-->
                            {% for i in display.paginator.page_range %}
                            {% if display.number == i %}
                            <li class="page-item active">
                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!--- Here we are creating the page number to display the page navigation end-->

                            <!--- Here we are creating next button navigation stars here--->
                            {% if display.has_next %}
                            <li class="page-item">
                                <a href="?page={{ display.next_page_number }}" class="page-link">Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a href="?page={{ display.paginator.number_pages }}" class="page-link">Next</a>
                            </li>
                            {% endif %}
                            <!--- Here we are creating next button navigation stars here--->
                        </ul>
                        {% endif %}
                </div>
            </div>
            {% endblock %}